---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css?family=Cabin%7CRoboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.page-header {
  color: #0e142b;
  background-color: #ffc800;
  background-image: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h1.project-name {
  font-family: "Cabin", sans-serif;
  color: black;
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  color: #ffc800;
  color: #0e142b;
}

// Hide maintained by and link to repo
.site-footer-owner {
  display: none;
}

.idfyedIcon {
  width: 70px;
  height: 100%;
  margin: 20px;
}

.fillBlue {
  fill: #0e142b;
}

.fillYellow {
  fill: #ffc800;
}
